html, body {
    cursor: url("assets/mikumikuooeeoo.ico"), default;
}

h1 {
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
}

video {
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
}

iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
}

img {
    margin-top: 20px;
    box-shadow: 0 0 5px white;
    border-radius: 5px;
}